@page
@model LivrariaApp.Pages.CreateIdioma

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="POST">
        <input type="text" name="Nome" placeholder="Escreva o nome do Idioma" />
        <input type="text" name="Sigla" placeholder="Escreva o sigla do Idioma" />
        <input type="submit" value="Gravar" />
    </form>
</div>
</body>
</html>